// color palette: https://coolors.co/12263a-8390fa-3c5a14-b6c9bb-dce0d9

$prussianBlue: #12263A;
$cornflowerBlue: #8390FA;
$darkMossGreen: #3C5A14;
$ashGray: #B6C9BB;
$platinum: #DCE0D9;

.content {
  display: flex;
  flex-direction: column;

  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;

  header {
    background-color: $platinum;
  }

  footer {
    color: white;
    background-color: $prussianBlue;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: $darkMossGreen;
      }
    }

    .made-with-heart {
      color: orangered;
    }

    .row {
      line-height: 5;
    }
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .btn-primary {
      background-color: $cornflowerBlue;
      border-color: $cornflowerBlue;
    }

    .alert {
      margin-bottom: 0;
    }

    .button-row {
      margin-left: 0;
      margin-right: 0;
    }

    .submit-button {
      padding: 1rem 1rem;
      width: 100%;
    }
  }
}
